node_modules
.env
.yarn
.yarn.yml

# Editor directories and files
.idea
.vscode
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
.env
.env.dev.local
.env-local
.DS_Store
vendor
vendor/*
vendor/**
/vendor/*
storage/*
.app-notes
.create-oracle-du-user
.monitor-vec-nb
tabela-fipe*
db-backup*
.http
.env-local
.env
.env.test
public/wpp-attachments/*
.phpunit*
